.todo_container {
  max-height: 56px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  position: relative;
  transition: max-height 0.8s ease;
  overflow: hidden;
}

.todo_container_active {
  background-color: #fdfdfd;
  box-shadow: 0px 2px 3.1px rgba(0, 0, 0, 0.25);
}

.todo_container,
.todo_container:not(:hover) {
  transition: max-height 1.5s ease;
}

.todo_container:hover {
  max-height: 500px;
}

.todo_container_expired {
  max-height: 56px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  position: relative;
  /* cursor: pointer; */
  transition: max-height 0.8s ease;
  overflow: hidden;
  border: 1px solid #ebebeb;
}

.check_box {
  border: 1.8px solid #e8e8e8;
  height: 16px;
  width: 16px;
  border-radius: 5px;
}

.info_box {
  margin-left: 11px;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  cursor: default;
}

.todo_title {
  width: 200px;
  font-size: 12px;
  color: #737373;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;

  .todo_container:hover & {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

.todo_time {
  font-size: 10px;
  margin-top: 6px;
}

.category {
  width: 13px;
  height: 13px;
  border-radius: 8px;
  position: absolute;
  right: 10px;
}

.blank_input {
  border: none;
  outline: none;
  width: 150px;
}

.blank_input::placeholder {
  color: #cacaca;
}

.blank_btn {
  border: none;
  background-color: transparent;
  color: #cacaca;
  cursor: pointer;
}

.todo_memo {
  width: 255px;
  font-size: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.8s ease, max-height 0.6s ease, margin-top 0.3s ease 0.3s;
  margin-top: 0;
}

.todo_memo:hover {
  cursor: text;
  user-select: text;
}

.todo_container:hover .todo_memo {
  opacity: 1;
  max-height: 500px;
  margin-top: 10px;
  transition: opacity 0.8s ease, max-height 0.6s ease, margin-top 0.3s ease;
}

.edit {
  width: 289px;
  display: flex;
  justify-content: flex-end;
  height: 20px;
  cursor: default !important;
}
